.hero-section .conteiner {
  text-align: center;
}
.hero-section {
  background-color: var(--first-background-color);
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/hero/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  letter-spacing: 0.06em;
  color: var(--third-color);
  max-width: 696px;
  margin: auto;
  margin-bottom: 30px;
}
