.portfolio-overlay_conteiner {
  position: relative;
  overflow: hidden;
}
.portfolio-project__overlay {
  position: absolute;
  height: auto;
  left: 20;
  top: 0;
  transform: translateY(102%);
  transition: transform 250ms;
  background: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  color: var(--third-color);
  vertical-align: top;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-project__item:hover .portfolio-project__overlay {
  transform: translateY(0%);
}
.portfolio-project__link:focus .portfolio-project__overlay {
  transform: translateY(0%);
}
.portfolio-btn-sections__list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: var(--pd-ttl);
}
.portfolio-btn-sections {
  padding-bottom: var(--pd-bt-tp);
  padding-top: var(--pd-bt-tp);
}

.portfolio-btn-sections__list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-project__link:hover,
.portfolio-project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project__subtitle {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;

  letter-spacing: 0.06em;
}

.portfolio-project__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--secondary-txt);
}

.portfolio-project {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-project__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-project__column {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: var(--pad_pf_car);
  padding-bottom: var(--pad_pf_car);
  padding: 20px 24px;
}
