.team-section__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-section__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-txt);
  letter-spacing: 0.03em;
}

.team-section__list {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: var(--mr-left_s);
}
.team-section__item {
  margin-left: var(--mr-left);
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section__aside {
  border: 1px solid #eee;
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section {
  background-color: var(--secondary-background-color);

  padding-top: var(--pd-bt-tp);
  padding-bottom: var(--pd-bt-tp);
}
