.hero-section__button:hover,
.hero-section__button:focus {
  background-color: var(--btn-color);
}

.hero-section__button {
  min-width: 200px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;

  background: var(--button-color);
  color: var(--third-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
