:root {
  --first-color: #212121;
  --secondary-txt: #757575;
  --third-color: #ffffff;
  --first-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --btn-color: #188ce8;
  --button-color: #2196f3;
  --adress-link-color: rgba(255, 255, 255, 0.6);
  --pd-bt-tp: 94px;
  --pd-ttl: 50px;
  --mr-left: 30px;
  --mr-left_s: -30px;
  --pad_pf_car: 20px;
  --first-fill-color: #afb1b8;
}
